<div class="select-account__header">
      <h1 class="card__title"><%= t 'accounts.title' %></h1>
    </div>
    <div class="select-account__options">
      <%= link_to(user_session_path, class: 'select-account__option select-account__option--login') do %>
          <h4 class="select-account__title">
              <%= t('accounts.login.title') %>
          </h4>
          <%= t('accounts.login.explanation') %>
      <% end %>
      <%= link_to(new_registration_path(User), class: 'select-account__option select-account__option--new') do %>
          <h4 class="select-account__title">
              <%= t('accounts.standard.title') %>
          </h4>
          <%= t('accounts.standard.explanation') %>
      <% end %>
      <%= link_to({ controller: '/anonymous_user', action: 'new' }, { class:  'select-account__option select-account__option--anon' }) do  %>
          <h4 class="select-account__title">
              <%= t('accounts.onetime.title') %>
          </h4>
          <%= t('accounts.onetime.explanation').html_safe %>
      <% end %>
    </div>
        
